# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# ==============================
# Environment
# ==============================

.env
.env.*
!.env.example

# ==============================
# Scientific / Large Data
# ==============================

data/raw/
data/processed/

*.nc
*.nc4
*.grib
*.grb
*.gpkg
*.zip
*.h5
*.hdf5
*.parquet

# ==============================
# OS
# ==============================

.DS_Store

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# Logs
# ==============================

*.log
logs/